@*@using Microsoft.AspNet.Identity*@

@if (Session["Id"] != null)
{

<ul class="navbar-nav mr-auto">
   
    <li class="nav-item">
        <a class="nav-link" href="../User/Logout">
            <i class="fas fa-sign-out-alt"> LogOut</i>
           
        </a>
    </li>
  

</ul>
    @*<h4>@Session["Username"].ToString();</h4>*@
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">

            <a class="nav-link" href="../User/Login">
                <i class="fas fa-user"> Login</i>
            </a>

            @*<a class="nav-link" href="#Login">
                <i class="fas fa-user"> Login</i>
            </a>*@
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../User/Register">
                <i class="fas fa-lock"> Register</i>
            </a>
        </li>

    </ul>

   
   
}

