@if (Session["Id"] == null)
{

}
else
{

    <li class="nav-item">
        <a class="nav-link" href="../Department/Index">Departments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../Employee/Index">Employees</a>
    </li>

}